[Unit]
Description=MicroShift
Wants=network-online.target crio.service
After=network-online.target crio.service

[Service]
WorkingDirectory=/usr/local/bin/
ExecStart=microshift run --kube-scheduler-config /home/redhat/topolvm-demo/manifests/deploy/kube-scheduler/scheduler-config.yaml
User=root

[Install]
WantedBy=multi-user.target
