
# use orgid / activation key
# RHC_ORGID=
# RHC_ACTIVATION_KEY=

# or user/password

# RHC_USER=my@email.com
# RHC_PASS=mypassword

# please note those credentials will be embedded as part of the kickstart inside the .iso file

RHC_FIRSTBOOT=true
